
.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #e1edfd;
}

.input input:focus {
  outline: none;
}

.form {
  margin: 10px;
}

.header h1 {
  color: #00275a;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 250%;
}

.header h4 {
  color: #6d95ca;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
