.button {
  font: inherit;
  border: none;
  border-radius: 10px;
  background: #00275a;
  color: white;
  padding: 1.25rem 3rem;
  cursor: pointer;
  width: 100%;
}

.button:hover,
.button:active {
  background: #001c3f;
}

.button:focus {
  outline: none;
}
